.popup__description {
  display: block;
  width: 358px;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin-bottom: 48px;
  padding-bottom: 8px;
}

.popup__description:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 550px) {
  .popup__description {
    width: 238px;
    margin-bottom: 45px;
  }
}
