.popup__name {
  display: block;
  width: 358px;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  margin: 48px 0 30px;
  padding-bottom: 9px;
}

.popup__name:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 550px) {
  .popup__name {
    width: 238px;
    margin-top: 74px;
  }
}
